<header class="header" id="header" *ngIf="iniciar == false">
    <!--header-start-->
    <div class="container">
        <figure class="logo animated fadeInDown delay-07s">
            <a href="#">
                <img src="assets/img/Agencia_Final.png" class="img-responsive" alt="">
            </a>
        </figure>
        <h1 class="animated fadeInDown delay-07s">Mochilero Tours</h1>
        <!-- <h1 class="animated fadeInDown delay-07s">MOCHILEROS TOURS</h1> -->
        <ul class="we-create animated fadeInUp delay-1s">
            <li> Universidad de las Fuerzas Armadas ESPE-L </li>
        </ul>
        <a class="link animated fadeInUp delay-1s servicelink" (click)="start()">Iniciar</a>
    </div>
</header>
<div *ngIf="iniciar == true">
    <app-nav-bar></app-nav-bar>
    <router-outlet></router-outlet>
    <div id="separador" ></div>
    <app-footer></app-footer>
</div>
<!-- <app-home></app-home> -->