<nav class="main-nav-outer" id="test">
  <!--main-nav-start-->
  <div class="container">
    <ul class="main-nav">
      <li><a [routerLink]="['/home']" [routerLinkActive]="['activado']">Inicio</a></li>
      <li><a [routerLink]="['/quienes-somos']" [routerLinkActive]="['activado']" >Quienes Somos</a></li>
      <li><a href="#Portfolio">Galeria</a></li>
      <li ><a href="#header"><img class="small-logo" src="assets/img/small_agencia_final.png" alt="tour"></a></li>
      <li><a href="#client">Clientes</a></li>
      <li><a href="#team">Equipo</a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a></li>
    </ul>
    <a class="res-nav_click" href="#"><i class="fa fa-bars"></i></a>
  </div>
</nav>