<section class="main-section alabaster">
		<!--main-section alabaster-start-->
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-sm-4 wow fadeInLeft">
					<img src="assets/img/Agencia_Final.png" alt="">
        </div>
				<div class="col-lg-7 col-sm-8 featured-work wow fadeInRight">
					<h2>MISIÓN</h2>
          <P class="padding-b" style="text-align: justify;">
              Proporcionar experiencias inolvidables dentro y fuera del país, aportando con seguridad,  al cliente, para poder satisfacer sus necesidades en entretenimiento y convivencia con los mismos.
          </P>
          <br>
          <h2>VISIÓN</h2>
					<P class="padding-b" style="text-align: justify;">
              Llegar a ser una de las agencias con mayor nombramiento dentro del mercado turístico, contando con talento humano de calidad, para satisfacer todo tipo de necesidades dentro de las actividades turísticas del cliente.
          </P>
          <p class="padding-b" style="text-align: justify;">
              La forma circular del logo representa un mundo lleno de diversidad, con sus diversos 
              destinos turísticos que lo hacen único y deferente de los demás, la agencia se 
              enfoca a ver el mundo de otra forma no solo como lugar donde habitamos 
              sino un mundo por explorar y conocer.  
              <br> <b>Azul:</b> Representa la lealtad, la confianza, la sabiduría, 
              la inteligencia, la verdad que queremos transmitir a los clientes 
              para que pongan en nuestras manos sus actividades de aventura.
              <!-- ademas tiene el significado del cielo, la diversidad de ríos, cascadas y 
              mares que rodean nuestro país, los cuales dan realce a este tipo de actividades, 
              ya que al estar en contacto con las mismas se siente libertad conjuntamente con el entorno. -->
             <br> <b>Amarillo:</b> Puro y brillante muestra la seguridad y confianza de nuestra agencia. 
              <br> <b>Blanco:</b> Asociado con la paz y el confort del espíritu, la libertad de si mismo, esto se quiere fomentar en nuestros turistas que viven la adrenalina dentro de ellos, hacerlos sentir en confort consigo mismos,.
              
          </p>
					<!-- <div class="featured-box">
						<div class="featured-box-col1 wow fadeInRight delay-02s">
							<i class="fa fa-magic"></i>
						</div>
						<div class="featured-box-col2 wow fadeInRight delay-02s">
							<h3>magic of theme development</h3>
							<p>Proin iaculis purus consequat sem cure digni ssim. Donec porttitora entum suscipit aenean rhoncus posuere odio in tincidunt. </p>
						</div>
					</div> -->

					</div>
					<a class="Learn-More" href="#">Learn More</a>
				</div>
			</div>
	</section>